*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
myposglasssdk/myPOS_0xC88C23B3_SECRET.gpg
gradle.properties
*.properties
gradle.properties
gradle.properties
gradle.properties
